* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --distance-top: 75px;
}

body {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

textarea[name="description"] {
    height: 200px;
    overflow-y: auto;
}

header {
    width: 100%;
    height: 75px;
    border-bottom: 1px solid grey;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
}

.header-content-container {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
}

.header-menu {
    display: flex;
    align-items: center;
    position: relative;
}

.header-menu {
    border-left: 2px solid #e1e1e1;
    padding: 0 0 0 18px;
}

.header-links {
    width: 180px;
}
/* .anything-else {
    margin-top: 75px;
} */

.editor-section {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
}

.editor-section::after {
    content: "";
    width: 90%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin: 36px auto;
}

.aside-menu {
    position: fixed;
    right: 0;
    top: 75px;
    width: 200px;
    /* height: 100vh; */
    background-color: white;
    z-index: 9999;
}

.aside-menu ul {
    color: black;
}

.lessons-container {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    /* text-align: center; */
    flex-wrap: wrap;
    margin: 20px auto;
}

.lesson-box {
    width: 300px;

    border-radius: 5px;
    border: 1px solid black;
    display: inline-block;
    margin: 10px;
    flex-grow: 1;
    background-color: lightgray;
    opacity: 0.9;
    padding: 10px;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}

.lesson-box-abs {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 50px;
    height: 50px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 50%;
}

.lesson-box-abs img {
    width: 50px;
    height: auto;
}

.lesson {
    width: 100%;
    max-width: 250px;
}

.usersLessons-container {
    width: 100%;
    padding-top: 10px;
    display: inline-flex;
    border: 1px solid black;
}

.usersLessons-column {
    width: 30%;
    padding: 5px;
    margin: 5px auto;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
}

.rec-container {
    width: 300px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid black;
    border-radius: 2px;
    margin: 10px;
    -webkit-box-shadow: 6px 9px 11px 0px rgba(74, 70, 74, 0.22);
    -moz-box-shadow: 6px 9px 11px 0px rgba(74, 70, 74, 0.22);
    box-shadow: 6px 9px 11px 0px rgba(74, 70, 74, 0.22);
    -webkit-box-shadow: inset 0px 0px 11px 5px rgba(74, 70, 74, 1);
    -moz-box-shadow: inset 0px 0px 11px 5px rgba(74, 70, 74, 1);
    box-shadow: inset 0px 0px 11px 5px rgba(74, 70, 74, 1);
}

.rec-buttons {
    padding: 10px;
    display: inline-flex;
}

.button {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid blue; */
}

.btn-record,
.btn-stopRecord {
    width: 25px;
    height: 25px;
}

.btn-record:hover,
.btn-stopRecord:hover {
    transform: scale(1.1);
}

.btn-record {
    background-color: tomato;
    border-radius: 50%;
}

.btn-stopRecord {
    background-color: black;
}

.error {
    color: tomato;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    padding: 10px;
}

/* .btn-stopRecord {

} */

.menu-list li {
    padding: 15px 18px;
    list-style: none;
}

.menu-list li:hover {
    background-color: lightgray;
}
.menu-list a li {
    text-decoration: none;
    font-size: 1.2em;
    color: black;
}

.menu-list a {
    text-decoration: none;
}

.input-row {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.input-label {
    width: 160px;
    text-align: right;
}

.input-wrapper {
    width: 50%;
}

.profilepic {
    width: 50px;
    height: 50px;
}

.welcome-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    object-fit: cover;
    background: url("./img1.jpg");
    background-blend-mode: luminosity;
    background-repeat: no-repeat;
    /* background-size: 110vw 110vh; */
    /* background-size: 100% 100%; */
    animation: scaleit 60s infinite;
}

.welcome-button {
    margin: 5px;
    padding: 12px 20px;
    width: 100%;
}

@keyframes scaleit {
    0% {
        background-size: 110% 110%;
        background-position: 20% 20%;
    }
    50% {
        background-size: 100% 100%;
        background-position: 0% 0%;
    }
    100% {
        background-size: 110% 110%;
        background-position: 20% 20%;
    }
}

.welcome-box {
    display: inline-flex;
    width: 700px;
    height: 400px;
    align-items: flex-end;
    justify-content: center;
}

.register-box {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 10px;
}

.login-box {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 300px;
}

.app-wrapper {
    position: relative;
    margin-top: 75px;
    width: 100%;
    height: 100vh;
}

.profile-pic:hover {
    cursor: pointer;
}

.profile-container {
    width: 100%;
}

.editor-box {
    width: 80%;
    max-width: 800px;
    margin: 100px auto 30px auto;
    padding-top: 30px;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
}

.logout {
    position: fixed;
    bottom: 30px;
    right: 30px;
    opacity: 0.8;

    transition: all 0.2s ease-in-out;
}

.logout > img:hover {
    cursor: pointer;
    opacity: 1;
    transition: all 0.2s ease-in-out;
}

.logo-container {
    margin-left: 20px;
}

.header-links {
    margin-right: 20px;
}

input {
    margin: 5px;
    padding: 12px 20px;
    width: 100%;
}

input:last-child {
    margin: none;
}

input:focus {
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
        0 0 8px rgba(82, 168, 236, 0.6);
}

input[name="searchField"] {
    width: 50%;
    min-width: 50px;
}

textarea {
    margin: 5px;
    padding: 12px 20px;
    width: 100%;
}

textarea:focus {
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
        0 0 8px rgba(82, 168, 236, 0.6);
}

@media (max-width: 500) {
    input {
        display: block;
    }
}
