@font-face {
    font-family: Julius;
    src: url("/fonts/JuliusSansOne-Regular.ttf");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --distance-top: 140px;
}

body {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
    font-family: "Julius", sans-serif;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

textarea[name="description"] {
    height: 200px;
    overflow-y: auto;
}

header {
    width: 100%;
    height: 75px;
    /* border-bottom: 1px solid grey; */
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 9999;
}

.header-content-container {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
}

.header-menu {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
    border-left: 2px solid #e1e1e1;
    padding: 0 0 0 18px;
}

.header-menu:hover {
    cursor: pointer;
}

.header-links {
    width: 180px;
}
/* .anything-else {
    margin-top: 75px;
} */

.editor-section {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
}

.editor-section::after {
    content: "";
    width: 90%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin: 20px auto;
}

.aside-menu {
    position: fixed;
    right: 0;
    top: 75px;
    width: 100%;
    height: 75px;
    display: flex;
    align-items: stretch;
    justify-content: center;

    /* height: 100vh; */
    background-color: white;
    z-index: 9998;
    box-shadow: 0px 16px 12px -6px rgba(87, 84, 87, 0.48);
}

.aside-menu.false {
    top: 0;
    transition: top 0.2s ease-in-out;
}

.aside-menu.true {
    top: 75px;
    transition: top 0.2s ease-in-out;
}

.aside-menu ul {
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.menu-list li {
    padding: 15px 5px;
    list-style: none;
    height: 100%;
}

.menu-list a {
    width: 100%;
    text-align: center;
    height: 100%;
}

.menu-list li:hover {
    background-color: rgba(245, 244, 244, 1);
}
.menu-list a li {
    text-decoration: none;
    font-size: 1.2em;
    color: black;
}

.menu-list a {
    text-decoration: none;
}

.lessons-container {
    width: 80%;
    display: flex;
    /*
    justify-content: center;
    align-items: stretch;
    /* text-align: center; */
    flex-wrap: wrap;
    margin: 20px auto;
    padding-top: 20px;
}

.lessons-box {
    /* min-width: 200px; */
    /* max-width: 300px; */
    width: 300px;
    border-radius: 5px;
    display: inline-block;
    margin: 10px auto;
    /* flex-grow: 1; */
    background-color: rgba(255, 211, 181, 0.5);
    -webkit-box-shadow: 13px 12px 5px -6px rgba(112, 108, 112, 1);
    -moz-box-shadow: 13px 12px 5px -6px rgba(112, 108, 112, 1);
    box-shadow: 13px 12px 5px -6px rgba(112, 108, 112, 1);
    opacity: 0.9;
    padding: 10px;
    vertical-align: top;
    /* flex-direction: column; */
    /* justify-content: flex-end; */
    position: relative;
}

.lessons-box-abs {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 50px;
    height: 50px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 50%;
}

.lessons-box-abs img {
    width: 50px;
    height: auto;
}

.lessons {
    width: 100%;
    max-width: 250px;
}

.lesson-container {
    width: 90%;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    max-height: calc(100vh - 100px);
    overflow-y: auto;
    padding-top: 20px;
}

.lesson-box-left,
.lesson-box-right {
    width: 45%;
    border: 1px solid rgba(255, 211, 181, 1);
    -webkit-box-shadow: 13px 12px 5px -6px rgba(112, 108, 112, 0.5);
    -moz-box-shadow: 13px 12px 5px -6px rgba(112, 108, 112, 0.5);
    box-shadow: 13px 12px 5px -6px rgba(112, 108, 112, 0.5);
    border-radius: 5px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    overflow-y: auto;
    overflow-x: hidden;

    /* line-height: 1.5em; */
}

.lesson-box-left > * {
    padding: 5px;
}

.lesson-box-right-inner {
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.lesson-box-right-inner button {
    text-align: center;
}

.lesson-box-right-inner p,
.lesson-box-right-inner h2 {
    text-align: center;
    padding: 5px;
}

.react-h5-audio-player {
    width: 80%;
    min-width: 250px;
    margin: 10px auto;
}

.lesson-b .lesson-box-left h3,
.lesson-box-right h3 {
    margin-top: 5px;
}

.lesson-box-right {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}

.create-lesson-container {
    margin-top: 160px;
}

.external-url-wrapper {
    margin: 5px;
    padding-left: 10px;
    border-left: 5px solid rgba(255, 211, 181, 1);
    word-break: break-all;
}

.external-url-img-box {
    display: flex;
    align-items: flex-start;
}

.external-url-img-box img {
    width: 30px;
    height: auto;
}

.external-url-img-box p {
    padding-left: 5px;
}

.ext-box {
    text-decoration: none;
    color: black;
}

.user-box {
    border: 1px solid rgba(74, 70, 74, 0.3);
    border-radius: 2px;
    margin-top: 2px;
}

.lesson-starters-list {
    text-align: center;
}

.accept-or-try-again button {
    margin: 2px 2px;
    /* height: 15px; */
    display: inline-block;
    width: auto;
}

.usersLessons-container {
    width: 90%;
    margin: 160px auto 10px auto;
    /* padding: 20px 5% 20px 5%; */
    display: flex;
}

.usersLessons-column {
    width: 30%;
    padding: 5px;
    margin: 5px auto;

    display: flex;
    flex-direction: column;
    border-radius: 2px;
    border: 1px solid lightgray;
}

.usersLessons-container a {
    text-decoration: none;
}

.usersLessons-container a:hover {
    text-decoration: underline;
}

.usersLessons-column h2 {
    text-align: center;
}

.your-lessons-list-item {
    color: black;
    padding: 5px;
}

.rec-container {
    width: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid black; */
    border-radius: 10px;
    margin: 10px auto;
    /* -webkit-box-shadow: 6px 9px 11px 0px rgba(74, 70, 74, 0.22);
    -moz-box-shadow: 6px 9px 11px 0px rgba(74, 70, 74, 0.22);
    box-shadow: 6px 9px 11px 0px rgba(74, 70, 74, 0.22); */
    -webkit-box-shadow: inset 0px 0px 11px 5px rgba(74, 70, 74, 1);
    -moz-box-shadow: inset 0px 0px 11px 5px rgba(74, 70, 74, 1);
    box-shadow: inset 0px 0px 11px 5px rgba(74, 70, 74, 1);
}

textarea[name="textanswer"],
textarea[name="notes"] {
    height: 150px;
}

.rec-buttons {
    padding: 10px;
    display: inline-flex;
}

.button {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    /* border: 1px solid blue; */
}

.btn-record,
.btn-stopRecord {
    width: 25px;
    height: 25px;
}

.btn-record:hover,
.btn-stopRecord:hover {
    transform: scale(1.1);
}

.btn-record {
    background-color: tomato;
    border-radius: 50%;
}

.btn-stopRecord {
    background-color: black;
}

.error {
    color: tomato;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    padding: 10px;
}

/* .btn-stopRecord {

} */

.input-row {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.input-row p {
    padding: 5px;
}

.input-row.right {
    flex-direction: column;
}
.input-wrapper {
    width: 50%;
    text-align: left;
}

.input-wrapper > .rec-container {
    margin: 5px 0;
    /* padding: 5px; */
}

.input-wrapper > .react-h5-audio-player {
    margin-left: 5px;
}

.input-wrapper .delete-rec {
    margin-top: 2px;
}

.input-wrapper.wide {
    width: 90%;
}

.input-label {
    width: 160px;
    text-align: right;
}

.input-label.no-width {
    width: auto;
}

.profilepic {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.welcome-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    object-fit: cover;
    background: url("./img1.jpg");
    /* background-blend-mode: luminosity; */
    background-repeat: no-repeat;
    /* background-size: 110vw 110vh; */
    /* background-size: 100% 100%; */
    animation: scaleit 60s infinite;
}

.welcome-button,
.loopIt {
    margin: 5px auto;
    padding: 12px 20px;
    width: 100%;
    max-width: 300px;
    background-color: #ffd3b5;
    border-radius: 5px;
    border: none;
    opacity: 0.7;
    transition: opacity 0.2s ease-in-out;
}

.welcome-button:hover,
.loopIt {
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

.loopIt {
    text-align: center;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loopIcon {
    width: 30px;
    height: 30px;
}

.loopIcon.true {
    display: block;
    animation: blink 1s infinite;
}

.loopIcon.false {
    display: none;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.welcome-change {
    padding: 5px;
    text-decoration: underline;
    font-weight: bold;
}

.welcome-change:hover {
    cursor: pointer;
}

button {
    margin: 20px auto;
    padding: 12px 20px;
    width: 100%;
    max-width: 300px;
    background-color: #ffd3b5;
    border-radius: 5px;
    border: none;
    opacity: 0.7;
    transition: all 0.2 ease-in-out;
    font-weight: bold;
}

button:hover {
    opacity: 1;
    transition: all 0.2 ease-in-out;
    cursor: pointer;
}

@keyframes scaleit {
    0% {
        background-size: 110% 110%;
        background-position: 20% 20%;
    }
    50% {
        background-size: 100% 100%;
        background-position: 0% 0%;
    }
    100% {
        background-size: 110% 110%;
        background-position: 20% 20%;
    }
}

.welcome-box {
    display: flex;
    width: 700px;
    height: 400px;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
}

.register-box {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 10px;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}

.login-box {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 300px;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}

.app-wrapper {
    position: relative;
    margin-top: var(--distance-top);
    width: 100%;
    height: calc(100vh - var(--distance-top));
}

.profile-pic:hover {
    cursor: pointer;
}

.profile-pic-container + p {
    padding: 5px;
}

.profile-container {
    width: 100%;
    margin-top: 160px;
}

.editor-box {
    width: 80%;
    max-width: 800px;
    margin: 100px auto 30px auto;
    padding-top: 30px;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
}

.logout {
    position: fixed;
    bottom: 30px;
    right: 30px;
    opacity: 0.3;

    transition: all 0.2s ease-in-out;
}

.logout:hover {
    cursor: pointer;
    opacity: 1;
    transition: all 0.2s ease-in-out;
}

.logo-container {
    margin-left: 20px;
    width: 50px;
    height: 50px;
    overflow: hidden;
    vertical-align: bottom;
}

.logo-container img {
    width: 50px;
    height: auto;
}

.header-links {
    margin-right: 20px;
}

input {
    margin: 5px;
    padding: 12px 20px;
    width: 100%;
    border-radius: 5px;
}

input:last-child {
    margin: none;
}

input:focus {
    border-color: rgba(255, 211, 181, 0.9);
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
        0 0 8px rgba(255, 211, 181, 0.9);
}

input[name="searchField"] {
    width: 50%;
    min-width: 50px;
}

textarea {
    margin: 5px;
    padding: 12px 20px;
    width: 100%;
}

textarea:focus {
    border-color: rgba(255, 211, 181, 0.9);
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
        0 0 8px rgba(255, 211, 181, 0.9);
}

@media (max-width: 500) {
    input {
        display: block;
    }
    .lesson-container {
        flex-direction: column;
    }
}
